.banners._3142106 {
    width: 100%;
    height: 100%;
}

.banner._3142106 {
    width: 100%;
    height: 100%;
}

.banner .pic._3142106 {
    display: block;
    width: 100%;
    height: 228rpx;
}

.banner-wrap._3142106 {
    width: 100%;
    height: 100%;
    border-radius: 8rpx;
    box-shadow: 0 2rpx 7rpx rgba(0,0,0,0.16);
}

.banner-wrap .pic._3142106 {
    width: 100%;
    height: 228rpx;
}

.banner-tip._3142106 {
    width: 100%;
    height: 80rpx;
    padding: 0 27rpx;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-tip-title._3142106 {
    font-family: PingFangSC-Medium;
    font-size: 28rpx;
    color: #2E3135;
    line-height: 40rpx;
}

.banner-tip-number._3142106 {
    font-family: PingFangSC-Regular;
    font-size: 24rpx;
    color: #9B9B9B;
    line-height: 33rpx;
}

.banner-tip-number text._3142106 {
    color: #ff5555;
}