.goods._56acc2e {
    width: 100%;
}

.good._56acc2e {
    width: 100%;
}

.good .pic._56acc2e {
    display: block;
    width: 100%;
}

.banners._56acc2e {
    width: 100%;
}

.banner._56acc2e {
    width: 100%;
}

.banner .pic._56acc2e {
    display: block;
    width: 100%;
}

.statusPic._56acc2e {
    top: 231rpx;
    left: 231rpx;
    position: absolute;
    width: 288rpx;
    height: 288rpx;
}